*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

root {
    --color-primario: #1f0074;
    --color-secundario: #4f0074;
    --color-fondo: #d5ecf8;
    --color-texto: #000000;
    --color-acento: #7657a8;
}

body {
    font-family: "Alice", "Marcellus", Arial, sans-serif;
    font-size: 1rem;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;
}
